<div class="row content">
    <div class="col-sm-12">
        <div class="row slideshow" >
            <div class="col-sm-12">
                <!-- <div class="jumbotron">
                  <h1>Politician 360</h1>
                  <p>Where you can find current, meaningful and interesting information about your politicians. Look around and have fun!!</p>
                </div> --> 
                <div id="header-slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#header-slider" data-slide-to="1"></li>
                        <li data-target="#header-slider" data-slide-to="2"></li>

                    </ol>
                    <div class="carousel-inner" role="listbox">

                        <!--                       image 1 on the slider-->
                        <div class="item active">
                            <img src="../../../../../../media/flag1.jpg" alt="Irish Flag" />
                            <div class="carousel-caption">
                                <h3>Ireland politics at a Glance</h3>
                            </div>
                        </div>
                        <!--                        image2 on the slider-->
                        <div class="item">
                            <img src="../../../../../../media/image4.jpg" alt="Irish Flag" />
                            <div class="carousel-caption">
                                <h3>Team-Politician 360</h3>
                            </div>
                        </div>
                        <!--                        image3 on the slider-->
                        <div class="item">
                            <img src="../../../../../../media/image5.jpg" alt="Irish Flag" />
                            <div class="carousel-caption">
                                <h3>All at one place</h3>
                            </div>
                        </div>
                    </div>
                    <a href="#header-slider" class="left carousel-control" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>

                    <a href="#header-slider" class="right carousel-control" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>  
            </div>
        </div>
        <div class="row news">
            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Latest News Articles</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Latest Tweets</div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Top 10 most popular politicians</div>
                    <div class="panel-body">
                        <div class="list-group text-left">
                            <a href="/politician/{{politician.slug}}" class="list-group-item" ng-repeat="politician in orderedPoliticians | limitTo:10">
                                <span class="badge pull-left">{{$index+1}}</span>
                                <img class="thumbnail" ng-src="{{politician.photo_url}}" fallback-src="{{'http://findicons.com/files/icons/703/artists_valley_sample/128/business_man_blue.png'}}" ng-if="politician.photo_url"/>
                                <img class="thumbnail" src="http://findicons.com/files/icons/703/artists_valley_sample/128/business_man_blue.png" ng-if="!politician.photo_url"></span>
                                <span>{{politician.first_name}} {{politician.last_name}}</span>
                            </a>
                            <div class="text-right see-more">
                                <a href="/rank">See more...</a>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>  




